# The server URL for PocketBase
NEXT_PUBLIC_POCKETBASE_URL=http://127.0.0.1:8090
# Email from superadmin account in PocketBase
PB_ADMIN_EMAIL=zoey_n_mira@kpopdh.de
# Password from superadmin account in PocketBase
PB_ADMIN_PASSWORD=arminDorriLiebtBioHackersWasFuerEinRotzSerie050398!
